extends baseEmail

block content
  p Hi #{userName},
  p Your booking for room: #{roomNumber} has been sent to the reserve-now team and we shall work on you shortly.
  p 
  p Thank you for choosing with us
  