extends baseEmail

block content
  p Hi #{userName},
  p  Thank you for reviewing our room: #{roomNumber} 🎉
  p your feedback is so important to us!
 
  p If you need any help booking a tour, please don't hesitate to contact us!
  p  support@contactmail.com